{% extends 'base.html.twig' %}

{% set title='Image de présentation' %}
{% set route_index='admin_picture_index' %}
{% set entityName='picture' %}
{% set entity=picture %}

{% block title %}{{ parent() }} {{title}}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/datatables-bs4/css/dataTables.bootstrap4.css')) }}">
{% endblock %}

{% block body_header %}
    {{ include('admin/_body_header.html.twig', {domaine: title , id : entity.id, index :route_index}) }}
{% endblock %}

{% block sidebar_sommaire %}
    <li class="nav-item ">
        <a class="nav-link" href="#anchor_picture">
            <i class="fas fa-image"></i> Image
        </a>
    </li>

    {% if entity.rubrics |length >0 %}
    <span class="mb-3"></span>

    <li class="nav-item ">
        <a class="nav-link" href="#anchor_rubrics">
            <i class="fas fa-project-diagram"></i> Rubriques
        </a>
    </li>
    {% endif %}
    {% if entity.underrubrics |length >0 %}
    <span class="mb-3"></span>

    <li class="nav-item ">
        <a class="nav-link" href="#anchor_underrubrics">
            <i class="fas fa-project-diagram"></i> Sous-rubriques
        </a>
    </li>
    {% endif %}
{% endblock %}

{% block sidebar_button %}
    {% if is_granted('ROLE_GESTIONNAIRE') %}

        {{ include('share/__btn_edit.html.twig',
            {   'url':'admin_'~entityName ~'_edit',
                'id':entity.id
            }) }}

        <span class="mb-3"></span>

        <span class="btn btn-danger " onclick="$('#delete').click();">
            <i class="fas fa-trash"></i> Supprimer
        </span>

    {% endif %}

    <span class="mb-3"></span>

    {{ include('share/__btn_return_list.html.twig',
        {   url:route_index
        }) }}
{% endblock %}



{% block body %}

    <div class="row justify-content-center">
        <div id="anchor_name" class="jumbotron col-12 text-center text-purple">
            <h3>
                {{ entity.name }}
            </h3>
            <small class="float-right">
                {% if entity.enable %}
                    <span class="text-success">Visible</span>
                {% else %}
                    <span class="text-danger">Masquée</span>
                {% endif %}
            </small>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ include('picture/_show/_picture.html.twig') }}
            </div>
        </div>

        {{ include('rubric/_view/_vignettes_admin.html.twig',{rubrics:entity.rubrics}) }}
        {{ include('underrubric/_view/_vignettes_admin.html.twig',{underrubrics:entity.underrubrics}) }}

        <div class="d-none">
            {{ include('share/_delete_form.html.twig',{domaine: 'admin_'~entityName ,id:entity.id}) }}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ absolute_url( asset('js/add_sidebar.js')) }}"></script>
{% endblock %}
