{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Page d'accueil {% endblock %}

{% block body_header %}

{% endblock %}
{% block body %}
    {% if app.user and app.user.emailvalidated == false %}
        <div class="alert alert-danger alert-dismissible mt-2">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-ban"></i> Adresse mail non vérifiée !</h5>
            <p>
                Attention votre adresse mail n'a pas encore été vérifiée.
            </p>
            <p>
                <a href="{{ path('profil_sendmail_email_validated') }}">Cliquer ici</a> pour renvoyer le lien de
                vérification.
            </p>
        </div>
    {% endif %}



    <div class="text-center" >
        {% set the_courant="" %}
        {% set the_precedent="" %}
        {% for rubric in rubrics %}
        {% set the_courant=rubric.thematic.name %}
            {% if the_precedent=="" or the_precedent !=the_courant %}
                <a href="#anchor_thematic_{{ rubric.thematic.id }}" title="accès rapide" class="btn btn-light ml-1 mr-1">
                    <small class="text-muted">{{ rubric.thematic.name }}</small>
                </a>
            {% endif %}
            {% set the_precedent=rubric.thematic.name %}
        {% endfor %}
    </div>



        {% set t_c="" %}
        {% set t_p="" %}
        {% set t_same=false %}
        {% set t_present=false %}
        {% set t_open=false %}

        {% for rubric in rubrics %}

            {% set t_c=rubric.thematic.name %}

            {% set t_same=  t_c == t_p ? true : false %}
            {% set t_present=  t_c is empty ? false : true %}

            {% if t_same == false and t_present==true %}

                {{ t_open ?'</div>':'' }}

                {{  include('thematic/_view/_title.html.twig',{thematic:rubric.thematic}) }}

                <div class="row col-12 d-flex align-items-stretch justify-content-start" id="anchor_contact">
                {% set t_open=true %}

            {% endif %}


            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 d-flex align-items-stretch">
                {{ include('rubric/_view/_vignette.html.twig') }}
            </div>
            {% set t_p=rubric.thematic.name %}
        {% endfor %}

    {{ t_open ?'</div>':'' }}


{% endblock %}


{% block javascripts %}
    <script>
        $(function () {
        });
    </script>
{% endblock %}