<div class="row  d-flex " id="anchor_underthematic_{{ underthematic.id }}">
    <div class="col-12">
        <h5 class="text-muted  text-center d-lg-none">

            <span class="text-purple {{ underthematic.enable?'':'text-danger' }}">
                  {{ underthematic.name }}
            </span>

            <div class="small text-muted  text-xs">
                <span class=" {{ rubric.thematic.enable?'':'text-danger' }}">
                 {{ rubric.thematic.name }}
                </span><i class="fas fa-angle-right"></i>
                    <span class=" {{ rubric.enable?'':'text-danger' }}">
                     {{ rubric.name }}
                </span>

            </div>

            <a class="float-right text-primary " href="#top"><i class="fas fa-arrow-alt-circle-up"></i></a>
        </h5>
        <h3 class="text-muted d-none d-lg-block showOver" id="title_{{ underthematic.id }}">

            <span class="text-purple {{ underthematic.enable?'':'text-danger' }}">
                  {{ underthematic.name }}
            </span>

            <div class="small text-muted  text-xs">
                <span class=" {{ rubric.thematic.enable?'':'text-danger' }}">
                 {{ rubric.thematic.name }}
                </span><i class="fas fa-angle-right"></i>
                <span class=" {{ rubric.enable?'':'text-danger' }}">
                     {{ rubric.name }}
                </span>

            </div>

            <a class="float-right text-primary ml-3 text-md" href="#top"><i class="fas fa-arrow-alt-circle-up"></i></a>
            {% if is_granted('ROLE_GESTIONNAIRE') %}
            <span class="float-right text-xs hide " id="title_{{ underthematic.id }}_span">
                <a href="{{ path('admin_underthematic_edit',{id:underthematic.id}) }}" class="text-indigo">
                    <i class="fa fa-cog"></i> modifier
                </a>
            </span>
            {% endif %}
        </h3>
    </div>
</div>
