{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Consultation des archives  {% endblock %}

 {% block body_header %}
     <div class="col-sm-12 col-md-6">
         {% set nbr=backpacks|length %}
         <h3 class="m-0 text-dark">{{ nbr }} nouveau{{ nbr>1?'x':'' }} porte-document{{ nbr>1?'s':'' }} </h3>
     </div>
     <div class="col-sm-12 col-md-6">
         <ol class="breadcrumb float-sm-right">
             <li class="breadcrumb-item"><a href="{{ path('home') }}">Page d'accueil</a></li>
             <li class="breadcrumb-item active">Archive</li>
         </ol>
     </div>

 {% endblock %}

{% block body %}

    {{ include('backpack/_view/_tree.html.twig',{open:true}) }}

    {% if backpacks|length==0 %}

        <div class="row bg-white shadow ">
            <div class="col-sm-4 ">
                <img src="{{ absolute_url( asset('img/nothing.jpg')) }}"
                     style="min-width:100%;
                        min-height:100%;
                        width:auto;
                        height:auto;" alt="nothing" />
            </div>
            <div class="col-sm-8 pr-4 pt-5">
                <div class="row justify-content-center ">
                    <h1 class="font-weight-bold  bg-white rounded"><b>DCGDR</b> Shared</h1>
                </div>
                <div class="row justify-content-center ">

                    <span class="text-muted  bg-white rounded">Sharepoint de la DCGDR</span>
                </div>
                <br/>

                <div class="row justify-content-center">
                    <div class="col-6 m-5 bg-white rounded">
                        <h3><i class="fas fa-info-circle text-info"></i> Oops! pas de nouveautés.</h3>

                        <p>
                            Il n'y a pas eu de nouveautés depuis ces 8 derniers jours.
                            <br><br>
                            Cependant, vous pourvez <a href="{{ path('home') }}">retourner sur la page d'accueil</a> ou
                            utiliser le moteur de recherche.
                        </p>
                        <form class="search-form" method="POST" action="{{ path('home_search') }}">
                            <div class="input-group ">
                                <input class="form-control " name="search" id="search" type="search"
                                       placeholder="Recherche" aria-label="Recherche">
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>


    {% endif %}

{% endblock %}


{% block javascripts %}

{% endblock %}