<div class="card mb-5 shadow ml-2 mr-2">

    <div class="ribbon-wrapper ribbon-lg">
        <div class="ribbon  bg-gradient-light">
            <a href="{{ path('admin_thematic_show',{id:rubric.thematic.id}) }}">
                <i class="fas fa-clock"></i> Nouveautés
            </a>
        </div>
    </div>
    <a href="{{ path('rubric_show',{id:rubric.id}) }}"  data-html="true"
       data-toggle="tooltip" data-placement="top" title="{{ rubric.content }}">
        {% if rubric.picture %}
            <img src="{{ absolute_url( asset(rubric.picture.href))}}" class="card-img-top rounded-top rounded-lg "
                 alt="{{ rubric.picture.name }}">
        {% else %}
            <img src="{{ absolute_url( asset('img/vignette.jpg')) }}" class="card-img-top rounded-top rounded-lg "
                 alt="{{ rubric.thematic.name }}">
        {% endif %}

        <div class="card-body text-center">
            <h5 class="text-bold ">{{ rubric.name }}</h5>
            <div class="text-muted">{{ rubric.thematic.name }}
                <br/>
                <small class="text-muted">0 PORTE-DOCUMENT</small></div>
        </div>
    </a>
</div>
