<div class="card mb-5 shadow m-0 p-0">

    {% set nbr=rubric.underRubrics | hasNewForRubric %}
    {% if nbr >0 %}
    <div class="ribbon-wrapper ribbon-lg">
        <div class="ribbon  bg-gradient-light">
            <a href="{{ path('backpack_new_rubric',{id:rubric.id}) }}">
                <i class="fas fa-certificate"></i> {{ nbr }} Nouveauté {{ nbr>1 ?'s':'' }}
            </a>
        </div>
    </div>
    {% endif %}
    <a href="{{ path('rubric_show',{id:rubric.id}) }}"  data-html="true"
       data-toggle="tooltip" data-placement="top" title="{{ rubric.content }}" data-container="body">
        {% if rubric.picture %}
            <img src="{{ absolute_url( asset(rubric.picture.href))}}" class="card-img-top rounded-top rounded-lg "
                 alt="{{ rubric.picture.name }}">
        {% else %}
            <img src="{{ absolute_url( asset('img/vignette.jpg')) }}" class="card-img-top rounded-top rounded-lg "
                 alt="{{ rubric.thematic.name }}">
        {% endif %}

        <div class="card-body text-center">
            <h5 class="text-bold {{ rubric.enable?'':'text-danger' }}">{{ rubric.name }}</h5>
            <div class="text-muted  "><span class="{{ rubric.thematic.enable?'':'text-danger' }}">{{ rubric.thematic.name }}</span>
                <br/>
                {% set nbr=rubric.underRubrics | sumBackpackForRubricEnable %}
                <small class="text-muted">{{nbr}} PORTE-DOCUMENT{{ nbr>1?'S':'' }}</small></div>
        </div>
    </a>
</div>

