{% for backpackLink in backpack.backpackLinks %}

    <tr>
        <td>
            <a target="_blank" href="{{ backpackLink.link }}">
                <i class="fas fa-globe mr-2"></i>
                {{ backpackLink.title }}
            </a>
        </td>
        <td>
            <a target="_blank" href="{{ backpackLink.link }}">
                <span class="text-muted text-xs">
                    {{ backpackLink.link }}
                </span>
            </a>
        </td>
        <td class="col-lg-7 ">
            <span class="text-muted">
                {{ backpackLink.content | raw }}
            </span>
        </td>
        <td class="col-lg-1">
            {{ include('backpack/_show/_new.html.twig',{dateNew:backpackLink.modifyAt}) }}
        </td>
        <td class="col-sm-1 text-muted text-xs">
            {{ backpackLink.modifyAt  | date('d/m/Y H:i:s') }}
        </td>
    </tr>

{% endfor %}
