{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {{ underrubric.name }}  {% endblock %}

 {% block body_header %}
     <div class="col-12">
         <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="{{ path('home') }}">Page d'accueil</a></li>
             <li class="breadcrumb-item"><a
                         href="{{ path('rubric_show',{id:underrubric.rubric.id}) }}">Rubrique {{ underrubric.rubric.name }}</a>
             </li>
             {% set nbr=backpacks|sumBackpackForUnderRubricEnable %}
             <li class="breadcrumb-item active">{{ nbr }} porte-document{{ nbr>1?'s':'' }}</li>
         </ol>
     </div>

 {% endblock %}

{% block body %}

    {% if backpacks | length >0 %}
        {{ include('backpack/_view/_tree.html.twig') }}
    {% else %}
        <div class="row bg-white ">
            <div class="col-sm-4"
                 style="
                         background-image: url('{{ absolute_url( asset('img/fond_home.jpg')) }}') ;
                         background-repeat: no-repeat;
                         background-position: 100% 0px;
                         "
            >

            </div>
            <div class="col-sm-8 pr-4 pt-5">
                <div class="row justify-content-center ">
                    <h1 class="font-weight-bold  bg-white rounded"><b>DCGDR</b> Shared</h1>
                </div>
                <div class="row justify-content-center ">

                    <span class="text-muted  bg-white rounded">Sharepoint de la DCGDR</span>
                </div>
                <br/>

                <div class="row justify-content-center">
                    <div class="col-6 m-5 bg-white rounded">
                        <h3><i class="fas fa-info-circle text-info"></i> Oops! Il n'y a rien dans cette sous rubrique.</h3>

                        <p>

                            <br><br>
                            Abonnez-vous ici pour être averti des mises à jour du site.
                            <br><br>
                            Vous pouvez également <a href="{{ path('home') }}">retourner sur la page d'accueil</a>
                            <br><br>
                            Ou encore effectuer une recherche.
                        </p>
                        <form class="search-form" method="POST" action="{{ path('home_search') }}">
                            <div class="input-group ">
                                <input class="form-control " name="search" id="search" type="search"
                                       placeholder="Recherche" aria-label="Recherche">
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}


{% block javascripts %}
    <script>
        $(function () {
        });
    </script>
{% endblock %}