{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {{ underrubric.name }}  {% endblock %}

 {% block body_header %}
     <div class="col-12">
         <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="{{ path('home') }}">Page d'accueil</a></li>
             <li class="breadcrumb-item"><a
                         href="{{ path('rubric_show',{id:underrubric.rubric.id}) }}">Rubrique {{ underrubric.rubric.name }}</a>
             </li>
             {% set nbr=backpacks|sumBackpackForUnderRubricEnable %}
             <li class="breadcrumb-item active">{{ nbr }} porte-document{{ nbr>1?'s':'' }}</li>
         </ol>
     </div>

 {% endblock %}

{% block body %}

    {{ include('backpack/_view/_tree.html.twig') }}


{% endblock %}


{% block javascripts %}
    <script>
        $(function () {
        });
    </script>
{% endblock %}