<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DCGDR Sharepoint | Connexion</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/fontawesome-free/css/all.min.css')) }}">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css')) }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ absolute_url( asset('dist/css/adminlte.min.css')) }}">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div id="alert">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message |raw }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {% set col_primary="col-sm-12 col-md-8 col-lg-8 col-xl-6" %}
    {% set col_secondary="col-sm-12 col-md-4 " %}
    {% set col_primary_9="col-sm-12 col-md-9" %}
    {% set col_secondary_3="col-sm-12 col-md-3" %}

    {% block body %}{% endblock %}
</div>
<!-- jQuery -->
<script src="{{ absolute_url( asset('plugins/jquery/jquery.min.js')) }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ absolute_url( asset('plugins/bootstrap/js/bootstrap.bundle.min.js')) }}"></script>
<!-- AdminLTE App -->
<script src="{{ absolute_url( asset('dist/js/adminlte.min.js')) }}"></script>

</body>
</html>
