<div class="row  d-flex " id="anchor_thematic_{{ thematic.id }}">
    <div class="col-12">
        <h5 class="text-muted  text-center d-lg-none">
            <span class="text-purple {{ thematic.enable?'':'text-danger' }}">
                 {{ thematic.name }}
            </span>
        </h5>
        <h3 class="text-muted d-none d-lg-block">
            <span class="text-purple {{ thematic.enable?'':'text-danger' }}">
                {{ thematic.name }}
            </span>
        </h3>
        <a class="float-right text-primary " href="#top"><i class="fas fa-arrow-alt-circle-up"></i></a>
    </div>
</div>
