<div class="row  d-flex " id="anchor_underrubric_{{ underrubric.id }}">
    <div class="col-12">
        <h3 class="text-muted  text-center d-lg-none">
            <span class=" {{ underrubric.enable?'':'text-danger' }}">
                {{ underrubric.name }}
            </span>
        </h3>
        <h3 class="text-muted ml-3 d-none d-lg-block">
            <span class=" {{ underrubric.enable?'':'text-danger' }}">
                {{ underrubric.name }}
            </span>
        </h3>
        <a class="float-right text-primary " href="#top"><i class="fas fa-arrow-alt-circle-up"></i></a>
    </div>
</div>
