<div class="card mb-5 shadow  m-0 p-0">

    {% set nbrNew=underrubric.backpacks | hasNewForUnderRubric %}
    {% if nbrNew >0 %}
        <div class="ribbon-wrapper ribbon-lg">
            <div class="ribbon  bg-gradient-light">
                <a href="{{ path('backpack_new_underrubric',{id:underrubric.id}) }}">
                    <i class="fas fa-certificate"></i> {{ nbrNew }} Nouveauté {{ nbrNew>1 ?'s':'' }}
                </a>
            </div>
        </div>
    {% endif %}
    <a href="{{ path('underrubric_show',{id:underrubric.id}) }}"  data-html="true"
       data-toggle="tooltip" data-placement="top" title="{{ underrubric.content }}" data-container="body">
        {% if underrubric.picture %}
            <img src="{{ absolute_url( asset(underrubric.picture.href)) }}" class="card-img-top rounded-top rounded-lg "
                 alt="{{ underrubric.picture.name }}">
        {% else %}
            <img src="{{ absolute_url( asset('img/vignette.jpg')) }}" class="card-img-top rounded-top rounded-lg "
                 alt="{{ underrubric.underthematic.name }}">
        {% endif %}
        <div class="card-body text-center">
            <h5 class="text-bold  {{ underrubric.enable?'':'text-danger' }}">{{ underrubric.name }}</h5>
            <div class="text-muted">
                <span class="{{ underrubric.underthematic.enable?'':'text-danger' }}">
                    {{ underrubric.underthematic.name }}
                </span>
                <br/>
                {% set nbr=underrubric.backpacks | sumBackpackForUnderRubricEnable %}
                <small class="text-muted">{{ nbr }} PORTE-DOCUMENT{{ nbr>1?'S':'' }}</small></div>
        </div>
    </a>
</div>
